@{
    ViewData["Title"] = "Index";
}


<div class="m-0 row justify-content-center" style="background-color: black">
    <div class="col-auto p-5 text-center">
        <h1 style="color: white">Welcome to .NetC Assessment – Coding exercise</h1>
        <h3 style="color: white">Use nav bar to access CRUD operations</h3>
    </div> 
</div>
